{% extends 'account/profile_base.html' %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block title %} | {% trans "Change Email" %}{% endblock %}

{% block profile_content %}
{% if user.emailaddress_set.all %}
<h4>{% trans 'Existing e-mail(s)' %}</h4>
<p>{% trans 'The following e-mail addresses are associated with your account:' %}</p>

<form action="{% url 'account_email' %}" class="email_list" method="POST">
    {% csrf_token %}
    <fieldset class="blockLabels">

        {% for emailaddress in user.emailaddress_set.all %}
        <div class="ctrlHolder bg-light row">
            <div class="col-6 col-lg-3">
                <label for="email_radio_{{forloop.counter}}"
                    class="{% if emailaddress.primary %}primary_email{%endif%}">

                    <input id="email_radio_{{forloop.counter}}" type="radio" name="email"
                        {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked" {%endif %}
                        value="{{emailaddress.email}}" />

                    {{ emailaddress.email }}

                </label>
            </div>
            <div class="col-3 col-md-2">
                {% if emailaddress.verified %}
                <span class="verified">{% trans "Verified" %}</span>
                {% else %}
                <span class="unverified">{% trans "Unverified" %}</span>
                {% endif %}
            </div>
            <div class="col-3 col-md-2">
                {% if emailaddress.primary %}<span class="primary">{% trans "Primary" %}</span>{% endif %}
            </div>

        </div>
        {% endfor %}

        <div class="buttonHolder">
            <button class="btn btn-sm btn-dark" type="submit" name="action_primary">{% trans 'Make Primary' %}</button>
            <button class="btn btn-sm btn-dark" type="submit"
                name="action_send">{% trans 'Re-send Verification' %}</button>
            <button class="btn btn-sm btn-danger" type="submit" name="action_remove">{% trans 'Remove' %}</button>
        </div>

    </fieldset>
</form>

{% else %}
<p><strong>{% trans 'Warning:'%}</strong>
    {% trans "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}
</p>

{% endif %}

<hr>
<h4>{% trans "Add new e-mail" %}</h4>
<div class="row">
    <div class="col-12 col-md-6">
        <form method="post" action="{% url 'account_email' %}" class="add_email">
            {% csrf_token %}
            {{ form|crispy }}
            <button name="action_add" type="submit" class="btn btn-dark btn-sm">{% trans "Add E-mail" %}</button>
        </form>
    </div>
</div>
{% endblock profile_content %}


{% block extra_body %}
<script type="text/javascript">
    (function () {
        var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
        var actions = document.getElementsByName('action_remove');
        if (actions.length) {
            actions[0].addEventListener("click", function (e) {
                if (!confirm(message)) {
                    e.preventDefault();
                }
            });
        }
    })();
</script>
{% endblock extra_body %}