<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <a href="{% url 'home' %}" class="navbar-brand">Petstore</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav d-md-flex-row ml-md-auto d-md-flex order-md-2">
            {% if user.is_authenticated %}
            <li class="nav-item mr-md-3">
                <span class="navbar-text"><strong>Welcome {{ user.first_name|title }}</strong></span>
            </li>
            {% endif %}
            <li class="nav-item">
                <a href="{% url 'product_list' %}"
                    class="nav-link {% if 'products' in request.path %}active{% endif %}">Products</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a href="{% url 'account_profile' %}"
                    class="nav-link {% if 'accounts' in request.path and 'logout' not in request.path %}active{% endif %}">Profile</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'account_logout' %}"
                    class="nav-link {% if 'logout' in request.path %}active{% endif %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a href="{% url 'account_signup' %}"
                    class="nav-link {% if 'signup' in request.path %}active{% endif %}">Register</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'account_login' %}"
                    class="nav-link {% if 'login' in request.path %}active{% endif %}">Login</a>
            </li>
            {% endif %}
        </ul>
        <form class="form-inline order-md-1">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>