<div class="productsFilterBox d-none d-md-block col-md-3 col-lg-2">
    <span class="header">Filter by</span>
    <h3>Price</h3>
    <ul>
        <li>0 - 9.99</li>
        <li>10 - 19.99</li>
        <li>20 - 49.99</li>
        <li>50 - 249.99</li>
        <li>250+</li>
    </ul>
    <h3>Category</h3>
    <ul>
        <li>0 - 9.99</li>
        <li>10 - 19.99</li>
        <li>20 - 49.99</li>
        <li>50 - 249.99</li>
        <li>250+</li>
    </ul>
    <h3>Rating</h3>
    <ul>
        <li>1*</li>
        <li>2*</li>
        <li>3*</li>
        <li>4*</li>
        <li>5*</li>
    </ul>
</div>