{% extends 'base.html' %}

{% block title %} | Products{% endblock %}
{% block content %}
<h1>Products</h1>
<div class="row">
    <div class="productsFilterBox d-none d-md-block col-md-3 col-lg-2">
        <span class="header">Filter by</span>
        <h3>Price</h3>
        <ul>
            <li>0 - 9.99</li>
            <li>10 - 19.99</li>
            <li>20 - 49.99</li>
            <li>50 - 249.99</li>
            <li>250+</li>
        </ul>
        <h3>Category</h3>
        <ul>
            <li>0 - 9.99</li>
            <li>10 - 19.99</li>
            <li>20 - 49.99</li>
            <li>50 - 249.99</li>
            <li>250+</li>
        </ul>
        <h3>Rating</h3>
        <ul>
            <li>1*</li>
            <li>2*</li>
            <li>3*</li>
            <li>4*</li>
            <li>5*</li>
        </ul>
    </div>
    <div class="col-12 col-md-9 col-lg-10">
        <div class="row">
            {% if object_list %}
            {% for product in object_list %}
            <!-- <div class="col-12 col-3">
                <img src="{{ product.image.url }}" alt="Image of product" class="img-fluid img-thumbnail"><br>
                {{ product.title }}<br>
                <strong>{{ product.price }}</strong><br>
                Rating:
                <span>
                    <i class="fas fa-star checked" aria-hidden="true"></i>
                    <i class="fas fa-star checked" aria-hidden="true"></i>
                    <i class="fas fa-star checked" aria-hidden="true"></i>
                    <i class="fas fa-star checked" aria-hidden="true"></i>
                    <i class="fas fa-star" aria-hidden="true"></i>
                </span>
            </div> -->
            <div class="col-12 col-md-6 col-lg-4 mb-3">
                <div class="card">
                    <img class="card-img-top" src="{{ product.image.url }}" alt="Product image">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.title }}</h5>
                        <p class="product-price">€{{ product.price }}</p>
                        <p class="product-rating">
                            <i class="fas fa-star checked" aria-hidden="true"></i>
                            <i class="fas fa-star checked" aria-hidden="true"></i>
                            <i class="fas fa-star checked" aria-hidden="true"></i>
                            <i class="fas fa-star checked" aria-hidden="true"></i>
                            <i class="fas fa-star" aria-hidden="true"></i>
                        </p>
                        <a href="#" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>There are currently no products to display. Please check back later.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}