<div class="col-12">
    {% if page_obj.has_other_pages %}
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}"><i
                    class="fas fa-chevron-left"></i></a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link"><i class="fas fa-chevron-left"></i></span>
        </li>
        {% endif %}
        {% for page in paginator.page_range %}
        {% if page_obj.number == page %}
        <li class="page-item active">
            <a class="page-link"> {{ page }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a href="?page={{ page }}" class="page-link"> {{ page }}</a>
        </li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}"><i class="fas fa-chevron-right"></i></a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link"><i class="fas fa-chevron-right"></i></a>
        </li>
        {% endif %}
    </ul>
    {% endif %}
</div>