{% extends 'base.html' %}
{% load static %}

{% block header %} | About{% endblock %}

{% block content %}
<h1>About</h1>

<div class="container">
    <p class="about">This week, as part of another project for Pet Business magazine, I’ve been talking to a number of
        industry
        veterans—people who have been in the industry for decades, who have seen its rise and evolution, and who have
        helped, in many ways, shape it into what it’s become.

        The rich history in the industry is something that fascinates me—for example, did you know that the first pet
        stores mostly catered to birds, in the 1840s?

        Or that the pet food industry began when one man watched sailors feeding dogs dry biscuits on the docks in
        approximately 1860, and decided to create the first commercially prepared pet food to sell to English country
        gentlemen for sporting dogs? (That first diet was made up of a mix of wheat meals, vegetables, beetroot and beef
        blood. Forget about the “protein first” expectations of many consumers today.)

        A century later, the 1960s saw the launch of the first national pet store franchise, and by 1970, the fledgling
        pet industry was being shaped and helped along by two organizations that continue in that role today. The
        American Pet Products Association (APPA)—back then called the American Pet Product Manufacturer’s
        Association—was founded in 1958, with the Pet Industry Distributors Association (PIDA) conceived 10 years later,
        in 1968.

        Industry veterans share that when they used to claim they worked “in the pet industry,” they were greeted with
        laughter. Back then, they say, the industry was all about the industrious entrepreneur—those souls who saw the
        potential in it and decided to invest.

        Small manufacturers, family-owned distributors, and mom-and-pop pet stores all worked together to help create
        what we have today.

        Today, the industry is unrecognizable from what it was in those early days, bringing in over $69 billion dollars
        in 2017 alone. It’s incredibly diverse, from small independently owned business to huge multi-billion dollar
        brands. And it continues to grow.

        But I want to take a minute to just appreciate all that history… and note that much of it, unfortunately, has
        not been written down. With Global Pet Expo just around the corner, I’d like to recommend everyone who plans to
        attend try to squeeze in just one more meeting this show…find an industry veteran to buy a cup of coffee and ask
        about the early days.

        Not only will it give you a chance to learn a bit more about the fascinating history of this industry that pays
        our bills, it’ll give help provide a bit of perspective as you plan the remainder of the year (and years) ahead.
    </p>
</div>
{% endblock %}

{% block footer %}{% endblock %}