<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Store{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/fa-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block header %}{% endblock %}
</head>

<body>
    <!-- Navbar -->
    {% include 'partials/_navbar.html' %}

    <!-- Main content -->
    <main class="container">
        {% include 'partials/_alerts.html' %}
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    {% include 'partials/_footer.html' %}
    {% block footer %}{% endblock %}
</body>

</html>