{% extends 'base.html' %}
{% load humanize %}
{% load myproduct_tags %}
{% load crispy_forms_tags %}

{% block title %} | {{ product.title }}{% endblock %}
{% block content %}

<h1>{{ product.title }}</h1>

<div class="row">
    <div class="col-12 mb-2">
        {% include 'partials/_product_admin.html' %}
    </div>
    <div class="col-12 col-md-6">
        <img class="product-image" src="{{ product.image.url }}" alt="Product image">
    </div>

    <div class="col-12 col-md-6">
        <div class="row product-detail">
            <div class="d-none d-md-inline col-md-4 order-md-1">Rating</div>
            <div class="col-12 col-md-8 order-md-1 product-detail-rating text-center text-md-left">
                {% autoescape off %}
                {{ product_rating|star_generator }}
                {% endautoescape %}
            </div>

            <div class="col-4 order-md-0">Brand</div>
            <div class="col-8 order-md-0">{{ product.brand }}</div>

            <div class="col-4 order-md-0">Price</div>
            <div class="col-8 order-md-0 product-price">€{{ product.price|intcomma }}</div>

            <div class="offset-4 col-6 order-md-3">
                <a href="{% url 'add_to_basket' product_id=product.id %}" class="btn btn-success">Add to Basket</a>
            </div>
        </div>
    </div>
    <hr>
    <div class="col-12 mt-3 mb-4 text-center">
        <h2>Product Description</h2>
        <p>{{ product.description }}</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h2 class="mb-3">Reviews</h2>
        {% for review in product.reviews.all %}
        <div class="row">
            <div class="offset-1 col-4">
                {% autoescape off %}
                {{ review.rating|star_generator }}
                {% endautoescape %}
            </div>
            <div class="col-6">{{ review.user }}</div>
            <div class="col-12"><small>{{ review.date|naturaltime }}</small></div>

            <div class="col-12">{{ review.review }}</div>
            <div class="offset-2 col-8">
                <hr>
            </div>
        </div>
        {% empty %}
        <p>This product does not yet have any reviews. You can be the first!</p>
        {% endfor %}
    </div>
</div>

<div class="row">
    <div class="offset-1 col-9">
        {% if user.is_authenticated %}
        {% if display_form is True %}
        {# only display form if user has not already posted a comment #}
        {% crispy form %}
        {% else %}
        <p>You have already submitted a review for this product.</p>
        {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}