{% extends 'base.html' %}

{% block title %} | Delete {{ product.title }}?{% endblock %}
{% block content %}
<h1>Delete Product</h1>
<div class="row">
    <div class="col-12 col-md-6">
        <img class="card-img-top" src="{{ product.image.url }}" alt="Product image">
    </div>
    <div class="col-12">
        <form method="POST">
            {% csrf_token %}
            <p>Are you sure you want to delete <strong>"{{ product.title }}"</strong>?</p>
            <input type="submit" value="Delete" class="btn btn-danger">
        </form>
    </div>

</div>
{% endblock %}